*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #000000, #151515, #212121);

    height: 100vh;
    width: 100vw;

    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-calculadora{
    background: linear-gradient(to bottom, #000000, #151515, #212121);

    border: 2px solid white;

    height: 500px;
    width: 500px;

    display: flex;
    flex-direction: column;
}

.visor{
    background-color: #212121;

    border: 1px solid white;
    border-radius: 10px;

    height: 80px;
    width: 450px;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: top;
    align-items: center;
    text-align: center;
}

.campo-botoes{
    background-color: red;

    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: row;

    justify-items: center;
    align-items: flex-start;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap;

    gap: 50px;

}

.botao{
    background-color: rgba(0, 0, 0, 5.0);

    border: 1px solid white;
    border-radius: 10px;

    height: 80px;
    width: 100px;

}