<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="box-calculadora">

        <div class="visor">TYPE</div>

            <section class="campo-botoes">

                <button class="botao b1">1</button>
                <button class="botao b4">2</button>
                <button class="botao b3">3</button>
                <button class="botao clear">C</button>

                <button class="botao b4">4</button>
                <button class="botao b5">5</button>
                <button class="botao b6">6</button>

                <button class="botao b7">7</button>
                <button class="botao b8">8</button>
                <button class="botao b9">9</button>

                <button class="botao adicao">+</button>
                <button class="botao subtracao">-</button>
                <button class="botao multiplicacao">x</button>
                <button class="botao resultado">=</button>

            </section>
    </div>

</body>
</html>