<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="box-calculadora">

<div class="visor">{{ visor }}</div>
    <form action="/" method="POST">
        <section class="campo-botoes">
                    <button type="submit" class="botao b7" name="numero_html" value="7">7</button>
                    <button type="submit" class="botao b8" name="numero_html" value="8">8</button>
                    <button type="submit" class="botao b9" name="numero_html" value="9">9</button>
                    <button type="submit" class="botao adicao" name="operacao_html" value="+">+</button>

                    <button type="submit" class="botao b4" name="numero_html" value="4">4</button>
                    <button type="submit" class="botao b5" name="numero_html" value="5">5</button>
                    <button type="submit" class="botao b6" name="numero_html" value="6">6</button>
                    <button type="submit" class="botao subtracao" name="operacao_html" value="-">-</button>

                    <button type="submit" class="botao b7" name="numero_html" value="1">1</button>
                    <button type="submit" class="botao b8" name="numero_html" value="2">2</button>
                    <button type="submit" class="botao b9" name="numero_html" value="3">3</button>
                    <button type="submit" class="botao multiplicacao" name="operacao_html" value="X">x</button>

                    <button type="submit" class="botao limpar" name="acao_html" value="limpar">C</button>
                    <button type="submit" class="botao b0" name="numero_html" value="0">0</button>
                    <button type="submit" class="botao resultado" name="acao_html" value="resultado">=</button>
                    <button type="submit" class="botao divisao" name="operacao_html" value="÷">÷</button>
        </section>            
    </form>   
</div>

</body>
</html>
