<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="box-calculadora">

        <div class="visor">TYPE</div>
            <form action="/" method="POST">
                <section class="campo-botoes">
                    <button type="submit" class="botao b1" name="numero" value="1">1</button>
                    <button type="submit" class="botao b4" name="numero" value="2">2</button>
                    <button type="submit" class="botao b3" name="numero" value="3">3</button>
                    <button type="submit" class="botao clear" name="acao" value="limpar">C</button>

                    <button type="submit" class="botao b4" name="numero" value="4">4</button>
                    <button type="submit" class="botao b5" name="numero" value="5">5</button>
                    <button type="submit" class="botao b6" name="numero" value="6">6</button>

                    <button type="submit" class="botao b7" name="numero" value="7">7</button>
                    <button type="submit" class="botao b8" name="numero" value="8">8</button>
                    <button type="submit" class="botao b9" name="numero" value="9">9</button>

                    <button type="submit" class="botao adicao" name="operacao" value="adicao">+</button>
                    <button type="submit" class="botao subtracao" name="operacao" value="subtracao">-</button>
                    <button type="submit" class="botao multiplicacao" name="operacao" value="multiplicacao">x</button>
                    <button type="submit" class="botao resultado" name="acao" value="resultado">=</button> 
                </section>
            </form>   
    </div>

</body>
</html>